<td colspan="5" class="container">
    <table>
        <tbody>
        <tr class="expander" title="Expand">
            <td class="check"><input type="checkbox"></td>
            <td class="number">{{this.number}}</td>
            <td class="type">{{this.type}}</td>
            <td class="expirationDate">{{this.expirationDate}}</td>
            <td class="state">{{this.state}}</td>
        </tr>
        <tr class="expandable" style="display: table-row;"></tr>
        </tbody>
    </table>
</td>