<button class="btn-link">Add card</button>
<table class="table table-bordered">
    <thead>
    <tr>
        <th class="check"><input type="checkbox" title="toggle all"></th>
        <th class="number">Number</th>
        <th class="type">Type</th>
        <th class="expirationDate">Expiration Date</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>