<section class="content well">
    <h1>Users</h1>
    <button class="btn-link">Add user</button>
    <table class="table table-bordered">
        <thead>
            <tr>
                <!--<th class="check"><input type="checkbox" title="toggle all"></th>-->
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Passport Number</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</section>