html, body {
	height: 100%;
	min-height: 100%;
}

body {
	display: table;
	width: 100%;
	background: url(../img/bg.jpg) center center no-repeat;
}

h1 {
}

.login-page {
	display: table-cell;
	vertical-align: middle;
}

.login-page h1{
	text-align: center;
	color: #523215;
	font-size: 216px;
	line-height: 216px;
	text-shadow: 	0 2px 1px white,
					0 1px 1px white,
					0 -2px 1px black,
					0 -1px 1px black;
}

.login-page .well {
	margin: 0 auto;
	width: 300px;
	border: 1px solid #211d14;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5)
}

.login-page .register {
	margin-top: 10px;
}

.users-page {
    display: none;
}

.main .logo img{
	margin: 0 auto;
	max-width: 100%;
}

.main header h1 {
	font-size: 50px;
	text-shadow: 	0 1px 1px white,
					0 -1px 1px black;
	margin: 0.5em 0;
}


.main .breadcrumb,
.main .well {
	border: 1px solid rgba(0, 0, 0, 0.3);
}

.main .breadcrumb {
	clear: both;
}

.main header .content {
	padding-top: 20px;
}

.main .data-fields {
	font-size: 18px;
}

.main .data-fields dt {
	min-width: 140px;
}

.main .data-fields dt,
.main .data-fields dd {
	float: left;
	line-height: 40px;
}

.main .data-fields dt {
	clear: both;
}

.user .cards-n-accounts .nav-tabs {
	margin-bottom: 0;
	border: none;
}

.user .cards-n-accounts .tab-content {
	border: 1px solid #ddd;
	background-color: #fff;
	padding: 10px;
	border-radius: 0 4px 4px 4px;
}

.user .cards-n-accounts .tab-content .table {
	margin: 0;
}

table {
	background-color: #fff;
}

table .expander td:not(.check){
	background-color: #f5fff5;
	cursor: pointer;
}

table .expander:hover td:not(.check){
	background-color: #efe;
}

table .expandable {
	display: none;
}

table .expandable td {
	background-color: #fff;
	border-left: 10px solid #ddd;
}

table .expandable div {
	margin: 0 0 0 10px;
	background-color: #fff;
	display: none;
}

table .check {
	width: 15px;
}

.user .form-actions {
	display: none;
}

/*
	HELPERS
*/
.fader {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
}

.fader:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

.alert {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}