<section class="content well">
    <h1>Cards</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="number">Number</th>
            <th class="type">Type</th>
            <th class="expirationDate">Expiration Date</th>
            <th class="state">Card state</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</section>