@import './mixin'

body
    background-color rgb(244,240,232)

.stack > *:not(.active)
    display none

.loginPage
    h1
        margin 20px auto
        font-size 3em
        color navy
    input
        font-size 2em
        display block
        margin 20px auto
        width 70%
    input[type=submit]
        font-size 2em
        padding 10px
        background-color #10609E
        border none
        color white

.payCellPage
    input, select
        display block
        margin 10px
    input[type=submit]
        margin-top: 30px
        padding 10px
        height 2em
        background-color #10609E
        border none
        color white

ul.menuList
        list-style-type none
        padding 0
        li
            margin 20px
            background-color #10609E

            a, a:hover, a:visited
                font-size 2em
                display block
                width 100%
                height 100%
                padding 20px
                text-decoration none
                color white

#map
    width 500px
    height 200px

.label
    margin-top: 30px
    margin-left: 10px

.confirmation
    position: absolute
    top: 0
    padding-top: 20%
    color: white
    width: 100%
    height: 100%
    background: #10609E


