<div class="container login-page">
    <h1>&lambda;-banking</h1>
    <div class="well login">
        <legend>Please Sign In</legend>
        {{#if error}}
        <div class="alert alert-error">
            <a class="close" data-dismiss="alert" href="#">×</a>Incorrect Username or Password!
        </div>
        {{/if}}
        <form method="POST" action="" accept-charset="UTF-8">
            <input type="text" id="username" name="username" placeholder="Username" value="{{username}}">
            <input type="password" id="password" name="password" placeholder="Password" value="{{password}}">
            <label class="checkbox">
                <input type="checkbox" name="remember" value="1"> Remember Me
            </label>
            <button type="submit" name="submit" class="btn btn-primary btn-block" data-loading-text="Logging...">Sign in</button>
            <em class="pull-right register"><a href="#">Register</a></em>
        </form>
    </div>
</div>