<section class="content well">
    <h1>Cards</h1>
    <button class="btn btn-danger" id="cards-freeze" disabled>Freeze</button>
    <button class="btn btn-danger" id="cards-unfreeze" disabled>Unfreeze</button>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="check"><input type="checkbox" title="toggle all"></th>
            <th class="number">Number</th>
            <th class="type">Type</th>
            <th class="holder">Holder</th>
            <th class="expirationDate">Expiration Date</th>
            <th class="state">Card state</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</section>