<table>
    <tbody>
        <tr>
            <th rowspan="2" class="controls-container">
                <ul class="controls">
                    <li><button class="delete" title="Delete"><i class="icon-remove-sign"></i></button></li>
                    <li><button class="edit" title="Edit"><i class="icon-edit"></i></button></li>
                </ul>
            </th>
            <th>Number</th>
            <th>Amount</th>
            <th>Currency</th>
        </tr>    
        <tr>
            <td>{{this.number}}</td>
            <td>{{this.amount}}</td>
            <td>{{this.currency}}</td>
        </tr>
    </tbody>
</table>