<table>
    <thead>
        <tr>
            <th>Number</th>
            <th>Amount</th>
            <th>Currency</th>
        </tr> 
    </thead>
    <tbody class="accounts">

    </tbody>
</table>