<section class="content well">
    <h1>New card</h1>
    <dl class="data-fields clearfix">
        <dt>Holder</dt>
        <dd><input type="text" placeholder="username" value="{{this.holder.firstName}} {{this.holder.lastName}}" disabled></dd>
        <dt class="card-new-type">Card Type</dt>
        <dd>
            <select class="card-new-types" name="" id=""></select>
        </dd>
        <dt>Exp. date</dt>
        <dd><input type="text" class="datepicker"></dd>
        <dt class="card-new-account-type">Account type</dt>
        <dd>
            <ul class="type card-new-account-types">
                <li>
                    <input type="radio" name="type_radio" id="type_existing">
                    <label for="type_existing">Existing account</label>
                </li>
                <li>
                    <input type="radio" name="type_radio" id="type_single">
                    <label for="type_single">New, single currency</label>
                </li>
                <li>
                    <input type="radio" name="type_radio" id="type_multi">
                    <label for="type_multi">New, multi currencies</label>
                </li>
            </ul>
        </dd>
        <dt class="card-new-account">Account</dt>
        <dd>
            <select class="card-new-accounts" name=""></select>
        </dd>
        <dt class="card-new-currency">
            Currency
            <button class="card-new-currency-add" title="Add"><i class="icon-plus-sign"></i></button>
        </dt>
        <dd>
            <select class="card-new-currencies" name=""></select>
            <button class="card-new-currency-remove" title="Remove"><i class="icon-minus-sign"></i></button>
        </dd>
    </dl>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary save">Save changes</button>
        <button type="button" class="btn cancel">Cancel</button>
    </div>
</section>