<section class="content well">
    <h1>Hello, {{this.userName}}! What will we do today?
    </h1>
    <ul class="welcome-actions">
        <li><a href="#">
            <figure>
                <img src="img/welcome-page/payments.jpg" alt="Платежи">
                <figcaption>Payments</figcaption>
            </figure>
        </a></li>
        <li><a href="#">
            <figure>
                <img src="img/welcome-page/logs.png" alt="Выписки">
                <figcaption>Logs</figcaption>
            </figure>
        </a></li>
        <li><a href="#">
            <figure>
                <img src="img/welcome-page/transfers.jpg" alt="Переводы">
                <figcaption>Transfers</figcaption>
            </figure>
        </a></li>
        <li><a href="#cards">
            <figure>
                <img src="img/welcome-page/cards.jpg" alt="Карты">
                <figcaption>Cards</figcaption>
            </figure>
        </a></li>
        <li><a href="#">
            <figure>
                <img src="img/welcome-page/currencies.jpg" alt="Курсы валют">
                <figcaption>Exchange rates</figcaption>
            </figure>
        </a></li>
        <li><a href="#settings">
            <figure>
                <img src="img/welcome-page/settings.jpg" alt="Настройки">
                <figcaption>Settings</figcaption>
            </figure>
        </a></li>
    </ul>
</section>