<ul class="well nav nav-list">
    <li class="nav-header">Main</li>
    <li><a href="#"><i class="icon-home"></i> Home</a></li>
    <li><a href="#cards"><i class="glyphicon-credit-card"></i> Cards</a></li>
    <li><a href="#payments"><i class="icon-play"></i> Payments</a></li>
    <li><a href="#scheduled"><i class="icon-time"></i> Scheduled payments</a></li>
    <li><a href="#favourites"><i class="icon-star"></i> Favourite payments</a></li>
    <li class="divider"></li>
    <li><a href="#settings"><i class="icon-wrench"></i> Settings</a></li>
</ul>