<div class="step well">
    <dl class="data-fields clearfix">
        <dt>Target</dt>
        <dd>
            <ul class="treeview">
                <li>
                    <input type="checkbox" id="cell"><label for="cell">Cellular network</label>
                    <ul>
                        <li><input type="radio" id="0" name="payment_target"><label for="0">Velcom</label></li>
                        <li><input type="radio" id="1" name="payment_target"><label for="1">MTS</label></li>
                        <li><input type="radio" id="2" name="payment_target"><label for="2">Life:)</label></li>
                        <li><input type="radio" id="3" name="payment_target"><label for="3">Diallog</label></li>
                    </ul>
                </li>
                <li>
                    <input type="checkbox" id="mcpn"><label for="mcpn">MCPN</label>
                    <ul>
                        <li><input type="radio" id="4" name="payment_target"><label for="4">Beltelecom</label></li>
                    </ul>
                </li>
                <li>
                    <input type="checkbox" id="util"><label for="util">Utilities</label>
                    <ul>
                        <li><input type="radio" id="5" name="payment_target"><label for="5">Electricity</label></li>
                        <li><input type="radio" id="6" name="payment_target"><label for="6">Aqua</label></li>
                        <li><input type="radio" id="7" name="payment_target"><label for="7">Gas</label></li>
                        <li><input type="radio" id="8" name="payment_target"><label for="8">Utilities</label></li>
                    </ul>
                </li>
                <li>
                    <input type="checkbox" id="internet"><label for="internet">Internet providers</label>
                    <ul>
                        <li><input type="radio" id="9" name="payment_target"><label for="9">Business Network</label></li>
                        <li><input type="radio" id="10" name="payment_target"><label for="10">Atlant Telecom</label></li>
                        <li><input type="radio" id="11" name="payment_target"><label for="11">ADSL.BY</label></li>
                    </ul>
                </li>
                <li>
                    <input type="checkbox" id="tickets"><label for="tickets">Tickets</label>
                    <ul>
                        <li><input type="radio" id="12" name="payment_target"><label for="12">Plane tickets</label></li>
                        <li><input type="radio" id="13" name="payment_target"><label for="13">Railway tickets</label></li>
                    </ul>
                </li>
                <li>
                    <input type="checkbox" id="other"><label for="other">Other</label>
                    <ul>
                        <li><input type="radio" id="14" name="payment_target"><label for="14">Police fine</label></li>
                        <li><input type="radio" id="15" name="payment_target"><label for="15">Cosmos TV</label></li>
                    </ul>
                </li>
            </ul>
        </dd>
    </dl>
</div>
<div class="form-actions">
    <button type="button" class="btn cancel">Cancel</button>
    <button type="button" class="btn btn-primary back">Back</button>
    <button type="submit" class="btn btn-primary next">Next</button>
</div>