<aside class="span2 logo">
    <img src="img/logo.png" alt="Lambda-banking logo">
</aside>
<div class="span10 content">
    <h1 class="pull-left">Lambda internet-banking</h1>
    <div class="user-card well well-small pull-right">
        <p>You are logged as <strong>username</strong></p>
        <button class="btn-link pull-right">Logout</button>
    </div>
    <ul class="breadcrumb"></ul>
</div>