<ul class="well nav nav-list">
    <li class="nav-header">Main</li>
    <li class="active"><a href="#"><i class="icon-home icon-white"></i> Home</a></li>
    <li><a href="#"><i class="icon-user"></i> Users <span class="badge badge-info">4</span></a></li>
    <li><a href="#"><i class="glyphicon-credit-card"></i> Cards <span class="badge badge-info">4</span></a></li>
    <li><a href="#"><i class="icon-list"></i> Accounts <span class="badge badge-info">4</span></a></li>
    <li><a href="#"><i class="icon-wrench"></i> Settings <span class="badge badge-info">4</span></a></li>
    <li class="divider"></li>
    <li><a href="#"><i class="i"></i> Misc</a></li>
</ul>