<ul class="well nav nav-list">
    <li class="nav-header">Main</li>
    <li><a href="#"><i class="icon-home"></i> Home</a></li>
    <li><a href="#users"><i class="icon-user"></i> Users</a></li>
    <li><a href="#cards"><i class="glyphicon-credit-card"></i> Cards</a></li>
    <li><a href="#accounts"><i class="icon-list"></i> Accounts</a></li>
    <li class="divider"></li>
    <li><a href="#settings"><i class="icon-wrench"></i> Settings</a></li>
</ul>