<section class="content well">
    <h1>Settings</h1>
    <ul class="settings">
    	<li><input type="checkbox" id="session"><label for="session">Store current session</label></li>
    </ul>
</section>