<section class="content well">
    <h1>Account #{{this.number}}</h1>
    <dl class="data-fields clearfix">
        <dt>Amount</dt>
        <dd>{{this.amount}}</dd>
        <dt>Currency</dt>
        <dd>{{this.currency}}</dd>
    </dl>
</section>