<section class="content well">
    <h1>Accounts</h1>
    <table class="table table-bordered accounts">
        <thead>
            <tr>
                <th>Number</th>
                <th>Amount</th>
                <th>Currency</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</section>